atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.5
colorama==0.4.4
importlib-metadata==3.4.0
iniconfig==1.1.1
jsonschema==3.2.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
